In [1]:
#Importamos Librerias
import pandas as pd
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
#Cargamos archivo
df= pd.read_csv('MexicoCity.csv')

In [3]:
#Seleccionamos solo las columnas que utilizaremos para este análisis y crearemos un nuevo dataframe
df2 = df.loc[:, ['source','name', 'host_id','host_response_time','host_response_rate','host_acceptance_rate',
'host_is_superhost','host_listings_count','host_total_listings_count','host_identity_verified', 'neighbourhood',
'neighbourhood_cleansed','latitude','longitude','property_type','room_type','accommodates', 'bathrooms_text', 'bedrooms',
'beds','ame1', 'ame2','ame3','ame4','ame5', 'price', 'minimum_nights', 'maximum_nights', 'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin',
'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'calculated_host_listings_count', 
'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms']]

In [4]:
df2.dtypes

source                                           object
name                                             object
host_id                                           int64
host_response_time                               object
host_response_rate                              float64
host_acceptance_rate                            float64
host_is_superhost                                object
host_listings_count                               int64
host_total_listings_count                         int64
host_identity_verified                           object
neighbourhood                                    object
neighbourhood_cleansed                           object
latitude                                        float64
longitude                                       float64
property_type                                    object
room_type                                        object
accommodates                                      int64
bathrooms_text                                   object
bedrooms                                        float64
beds                                            float64
ame1                                             object
ame2                                             object
ame3                                             object
ame4                                             object
ame5                                             object
price                                             int64
minimum_nights                                    int64
maximum_nights                                    int64
number_of_reviews                                 int64
review_scores_rating                            float64
review_scores_accuracy                          float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
instant_bookable                                 object
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
dtype: object

In [5]:
### Cambiamos algunas variables de str a booleanos
#host_is_superhost
#host_identity_verified
#instant_bookable

df2['host_is_superhost'] = df2['host_is_superhost'].replace("f", "0")
df2['host_is_superhost'] = df2['host_is_superhost'].replace("t", "1")

df2['host_identity_verified'] = df2['host_identity_verified'].replace("f", "0")
df2['host_identity_verified'] = df2['host_identity_verified'].replace("t", "1")

df2['instant_bookable'] = df2['instant_bookable'].replace("f", "0")
df2['instant_bookable'] = df2['instant_bookable'].replace("t", "1")
df2

,source,name,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,city scrape,Villa Dante,153786,within a day,0.50,NaN,0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,0,1,1,0,0
1,city scrape,CONDESA HAUS B&B,196253,within a few hours,1.00,0.79,1,16,16,1,...,4.70,4.86,4.75,4.98,4.47,0,12,3,2,0
2,city scrape,Great space in historical San Rafael,265650,within a few hours,1.00,0.92,1,3,6,1,...,4.92,4.97,4.93,4.74,4.79,0,2,2,0,0
3,previous scrape,Entire beautiful duplex in la Roma,282620,within a few hours,1.00,0.36,0,1,1,1,...,4.87,5.00,5.00,5.00,4.91,0,1,1,0,0
4,city scrape,Spacious Clean Quiet room (own bath) in la Con...,299558,NaN,NaN,0.79,0,1,3,1,...,4.91,4.91,4.95,4.93,4.86,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22943,city scrape,Vista Mágica CDMX,480370318,NaN,NaN,NaN,0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,1,1,0,1,0
22944,city scrape,Beautiful 2 bedroom with amazing location,353297882,within an hour,1.00,0.83,0,9,11,0,...,NaN,NaN,NaN,NaN,NaN,0,1,1,0,0
22945,city scrape,Flat rosa en Coyoacán CDMX,118117929,within an hour,0.67,0.95,0,3,3,1,...,NaN,NaN,NaN,NaN,NaN,1,3,3,0,0
22946,city scrape,Cómodo departamento en el centro de la ciudad,120756816,within a few hours,0.90,1.00,0,2,2,0,...,NaN,NaN,NaN,NaN,NaN,1,2,0,2,0
22947,city scrape,Stunning 1BR in Cuauhtemoc,16148871,within an hour,0.99,1.00,1,574,587,1,...,NaN,NaN,NaN,NaN,NaN,1,83,83,0,0

In [6]:
#Detectamos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos
#df3.isnull().sum().sum()

source                                             0
name                                               3
host_id                                            0
host_response_time                              2945
host_response_rate                              2945
host_acceptance_rate                            2465
host_is_superhost                                  6
host_listings_count                                0
host_total_listings_count                          0
host_identity_verified                             0
neighbourhood                                   8416
neighbourhood_cleansed                             0
latitude                                           0
longitude                                          0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms_text                                    47
bedrooms                                         643
beds                                             382
ame1                                               4
ame2                                              64
ame3                                             130
ame4                                             226
ame5                                             367
price                                              0
minimum_nights                                     0
maximum_nights                                     0
number_of_reviews                                  0
review_scores_rating                            4067
review_scores_accuracy                          4161
review_scores_cleanliness                       4161
review_scores_checkin                           4162
review_scores_communication                     4161
review_scores_location                          4163
review_scores_value                             4162
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
dtype: int64

In [7]:
#Primero sustituimos todos los valores nulos de las columnas de tipo "float64"

#Sustituir valores nulos con la mediana

median_host_listings_count=df2['host_listings_count'].median() 
df2['host_listings_count'].fillna(value=median_host_listings_count, inplace=True) 
median_host_total_listings_count=df2['host_total_listings_count'].median() 
df2['host_total_listings_count'].fillna(value=median_host_total_listings_count, inplace=True) 
median_accommodates=df2['accommodates'].median() 
df2['accommodates'].fillna(value=median_accommodates, inplace=True) 
median_bedrooms=df2['bedrooms'].median() 
df2['bedrooms'].fillna(value=median_bedrooms, inplace=True) 
median_beds=df2['beds'].median() 
df2['beds'].fillna(value=median_beds, inplace=True) 
median_minimum_nights=df2['minimum_nights'].median() 
df2['minimum_nights'].fillna(value=median_minimum_nights, inplace=True) 
median_maximum_nights=df2['maximum_nights'].median() 
df2['maximum_nights'].fillna(value=median_maximum_nights, inplace=True) 
median_number_of_reviews=df2['number_of_reviews'].median() 
df2['number_of_reviews'].fillna(value=median_number_of_reviews, inplace=True)  

#Sustituir valores nulos con la media

mean_price=df2['price'].mean() 
df2['price'].fillna(value=mean_price,inplace=True) 
mean_review_scores_rating=df2['review_scores_rating'].mean() 
df2['review_scores_rating'].fillna(value=mean_review_scores_rating,inplace=True) 
mean_review_scores_accuracy=df2['review_scores_accuracy'].mean() 
df2['review_scores_accuracy'].fillna(value=mean_review_scores_accuracy,inplace=True) 
mean_review_scores_cleanliness=df2['review_scores_cleanliness'].mean() 
df2['review_scores_cleanliness'].fillna(value=mean_review_scores_cleanliness,inplace=True) 
mean_review_scores_checkin=df2['review_scores_checkin'].mean() 
df2['review_scores_checkin'].fillna(value=mean_review_scores_checkin,inplace=True) 
mean_review_scores_communication=df2['review_scores_communication'].mean() 
df2['review_scores_communication'].fillna(value=mean_review_scores_communication,inplace=True) 
mean_review_scores_location=df2['review_scores_location'].mean() 
df2['review_scores_location'].fillna(value=mean_review_scores_location,inplace=True) 
mean_review_scores_value=df2['review_scores_value'].mean() 
df2['review_scores_value'].fillna(value=mean_review_scores_value,inplace=True) 
mean_calculated_host_listings_count=df2['calculated_host_listings_count'].mean() 
df2['calculated_host_listings_count'].fillna(value=mean_calculated_host_listings_count,inplace=True) 
mean_calculated_host_listings_count_entire_homes=df2['calculated_host_listings_count_entire_homes'].mean() 
df2['calculated_host_listings_count_entire_homes'].fillna(value=mean_calculated_host_listings_count_entire_homes,inplace=True) 
mean_calculated_host_listings_count_private_rooms=df2['calculated_host_listings_count_private_rooms'].mean() 
df2['calculated_host_listings_count_private_rooms'].fillna(value=mean_calculated_host_listings_count_private_rooms,inplace=True) 
mean_calculated_host_listings_count_shared_rooms=df2['calculated_host_listings_count_shared_rooms'].mean() 
df2['calculated_host_listings_count_shared_rooms'].fillna(value=mean_calculated_host_listings_count_shared_rooms,inplace=True)

In [8]:
#Sustituimos los valores nulos de las columnas de tipo "Object"

df2["source"] =df2["source"].fillna("Desconocido") 
df2["name"] =df2["name"].fillna("Desconocido") 
df2["host_id"] =df2["host_id"].fillna("Desconocido") 
df2["host_response_time"] =df2["host_response_time"].fillna("Desconocido") 
df2["host_response_rate"] =df2["host_response_rate"].fillna("Desconocido") 
df2["host_acceptance_rate"] =df2["host_acceptance_rate"].fillna("Desconocido") 
df2["neighbourhood"] =df2["neighbourhood"].fillna("Desconocido") 
df2["neighbourhood_cleansed"] =df2["neighbourhood_cleansed"].fillna("Desconocido") 
df2["property_type"] =df2["property_type"].fillna("Desconocido") 
df2["room_type"] =df2["room_type"].fillna("Desconocido") 
df2["bathrooms_text"] =df2["bathrooms_text"].fillna("Desconocido") 
df2["host_is_superhost"] =df2["host_is_superhost"].fillna("Desconocido") 
df2["ame1"] =df2["ame1"].fillna("Desconocido") 
df2["ame2"] =df2["ame2"].fillna("Desconocido") 
df2["ame3"] =df2["ame3"].fillna("Desconocido") 
df2["ame4"] =df2["ame4"].fillna("Desconocido") 
df2["ame5"] =df2["ame5"].fillna("Desconocido")

In [9]:
#Corroboramos que hemos eliminado los nulos de las columnas seleccionadas
df2.isnull().sum()

source                                          0
name                                            0
host_id                                         0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_listings_count                             0
host_total_listings_count                       0
host_identity_verified                          0
neighbourhood                                   0
neighbourhood_cleansed                          0
latitude                                        0
longitude                                       0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms_text                                  0
bedrooms                                        0
beds                                            0
ame1                                            0
ame2                                            0
ame3                                            0
ame4                                            0
ame5                                            0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
number_of_reviews                               0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
dtype: int64

In [ ]:
#No se realizó una limpieza de valores atípicos debido a que podría disminuir la veracidad de nuestro análisis.
df2.to_csv("MexCityclean.csv")