In [1]:
#Importamos Librerias
import pandas as pd
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
#Cargamos archivo
df= pd.read_csv('RiodeJaneiro.csv') 

#Seleccionamos solo las columnas que utilizaremos para este análisis y crearemos un nuevo dataframe
df2 = df.loc[:, ['source','name', 'host_id','host_response_time','host_response_rate','host_acceptance_rate',
'host_is_superhost','host_listings_count','host_total_listings_count','host_identity_verified', 'neighbourhood',
'neighbourhood_cleansed','latitude','longitude','property_type','room_type','accommodates', 'bathrooms_text', 'bedrooms',
'beds', 'Ame2','Ame3','Ame4','Ame5', 'price', 'minimum_nights', 'maximum_nights', 'number_of_reviews', 'number_of_reviews_lastyear', 
'number_of_reviews_last30', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin',
'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'calculated_host_listings_count', 
'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms']]

df3=df2.drop([15110], axis=0)

C:\Users\mafer\AppData\Local\Temp\ipykernel_100868\3725571478.py:2: DtypeWarning: Columns (0,2,9,47,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('RiodeJaneiro.csv')

In [3]:

#Convertimos algunas columnas de object a float64
df3['review_scores_rating'] = df3['review_scores_rating'].astype(float, errors = 'raise')
df3['review_scores_accuracy'] = df3['review_scores_accuracy'].astype(float, errors = 'raise')
df3['review_scores_cleanliness'] = df3['review_scores_cleanliness'].astype(float, errors = 'raise')
df3['review_scores_checkin'] = df3['review_scores_checkin'].astype(float, errors = 'raise')
df3['review_scores_communication'] = df3['review_scores_communication'].astype(float, errors = 'raise')

######Mafer aqui pon el codigo para cambiar las f por 0 y 1
##LISTO :)
df3.dtypes

source                                           object
name                                             object
host_id                                          object
host_response_time                               object
host_response_rate                               object
host_acceptance_rate                             object
host_is_superhost                                object
host_listings_count                             float64
host_total_listings_count                       float64
host_identity_verified                           object
neighbourhood                                    object
neighbourhood_cleansed                           object
latitude                                        float64
longitude                                       float64
property_type                                    object
room_type                                        object
accommodates                                    float64
bathrooms_text                                   object
bedrooms                                        float64
beds                                            float64
Ame2                                             object
Ame3                                             object
Ame4                                             object
Ame5                                             object
price                                           float64
minimum_nights                                  float64
maximum_nights                                  float64
number_of_reviews                               float64
number_of_reviews_lastyear                      float64
number_of_reviews_last30                        float64
review_scores_rating                            float64
review_scores_accuracy                          float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
instant_bookable                                 object
calculated_host_listings_count                  float64
calculated_host_listings_count_entire_homes     float64
calculated_host_listings_count_private_rooms    float64
calculated_host_listings_count_shared_rooms     float64
dtype: object

In [7]:
### Cambiamos algunas variables de str a booleanos
#host_is_superhost
#host_identity_verified
#instant_bookable

df3['host_is_superhost'] = df3['host_is_superhost'].replace("f", "0")
df3['host_is_superhost'] = df3['host_is_superhost'].replace("t", "1")

df3['host_identity_verified'] = df3['host_identity_verified'].replace("f", "0")
df3['host_identity_verified'] = df3['host_identity_verified'].replace("t", "1")

df3['instant_bookable'] = df3['instant_bookable'].replace("f", "0")
df3['instant_bookable'] = df3['instant_bookable'].replace("t", "1")
df3.head(5)

,source,name,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,city scrape,Suntuoso apartamento em Copacabana posto 6,431412286,within an hour,100%,100%,0,10.0,10.0,1,...,NaN,NaN,NaN,NaN,NaN,1,10.0,8.0,2.0,0.0
1,city scrape,Ipanema Vieira Souto - Linda Vista,40650139,a few days or more,13%,100%,0,6.0,6.0,1,...,NaN,NaN,NaN,NaN,NaN,1,5.0,5.0,0.0,0.0
2,city scrape,Casa compartilhada,87749071,NaN,NaN,NaN,0,1.0,1.0,0,...,NaN,NaN,NaN,NaN,NaN,1,1.0,1.0,0.0,0.0
3,city scrape,Aluguel de Lancha no Rio de Janeiro,97164727,within an hour,100%,100%,0,4.0,4.0,1,...,5.0,5.0,5.0,5.0,5.0,0,2.0,2.0,0.0,0.0
4,city scrape,Uma grande família,249666532,NaN,NaN,NaN,0,1.0,1.0,0,...,NaN,NaN,NaN,NaN,NaN,1,1.0,1.0,0.0,0.0

**Sustitución de Nulos**

In [8]:
#Detectamos valores nulos
#valores_nulos = df3.isnull().sum()
df3.isnull().sum().sum()

77348

In [9]:
#Primero sustituimos todos los valores nulos de lascolumnas de tipo "float64"

#Sustituir valores nulos con la mediana

median_host_listings_count=df3['host_listings_count'].median() 
df3['host_listings_count'].fillna(value=median_host_listings_count, inplace=True) 
median_host_total_listings_count=df3['host_total_listings_count'].median() 
df3['host_total_listings_count'].fillna(value=median_host_total_listings_count, inplace=True) 
median_accommodates=df3['accommodates'].median() 
df3['accommodates'].fillna(value=median_accommodates, inplace=True) 
median_bedrooms=df3['bedrooms'].median() 
df3['bedrooms'].fillna(value=median_bedrooms, inplace=True) 
median_beds=df3['beds'].median() 
df3['beds'].fillna(value=median_beds, inplace=True) 
median_minimum_nights=df3['minimum_nights'].median() 
df3['minimum_nights'].fillna(value=median_minimum_nights, inplace=True) 
median_maximum_nights=df3['maximum_nights'].median() 
df3['maximum_nights'].fillna(value=median_maximum_nights, inplace=True) 
median_number_of_reviews=df3['number_of_reviews'].median() 
df3['number_of_reviews'].fillna(value=median_number_of_reviews, inplace=True) 
median_number_of_reviews_lastyear=df3['number_of_reviews_lastyear'].median() 
df3['number_of_reviews_lastyear'].fillna(value=median_number_of_reviews_lastyear, inplace=True) 
median_number_of_reviews_last30=df3['number_of_reviews_last30'].median() 
df3['number_of_reviews_last30'].fillna(value=median_number_of_reviews_last30, inplace=True) 

#Sustituir valores nulos con la media

mean_price=df3['price'].mean() 
df3['price'].fillna(value=mean_price,inplace=True) 
mean_latitude=df3['latitude'].mean() 
df3['latitude'].fillna(value=mean_latitude,inplace=True) 
mean_longitude=df3['longitude'].mean() 
df3['longitude'].fillna(value=mean_longitude,inplace=True) 
mean_review_scores_rating=df3['review_scores_rating'].mean() 
df3['review_scores_rating'].fillna(value=mean_review_scores_rating,inplace=True) 
mean_review_scores_accuracy=df3['review_scores_accuracy'].mean() 
df3['review_scores_accuracy'].fillna(value=mean_review_scores_accuracy,inplace=True) 
mean_review_scores_cleanliness=df3['review_scores_cleanliness'].mean() 
df3['review_scores_cleanliness'].fillna(value=mean_review_scores_cleanliness,inplace=True) 
mean_review_scores_checkin=df3['review_scores_checkin'].mean() 
df3['review_scores_checkin'].fillna(value=mean_review_scores_checkin,inplace=True) 
mean_review_scores_communication=df3['review_scores_communication'].mean() 
df3['review_scores_communication'].fillna(value=mean_review_scores_communication,inplace=True) 
mean_review_scores_location=df3['review_scores_location'].mean() 
df3['review_scores_location'].fillna(value=mean_review_scores_location,inplace=True) 
mean_review_scores_value=df3['review_scores_value'].mean() 
df3['review_scores_value'].fillna(value=mean_review_scores_value,inplace=True) 
mean_calculated_host_listings_count=df3['calculated_host_listings_count'].mean() 
df3['calculated_host_listings_count'].fillna(value=mean_calculated_host_listings_count,inplace=True) 
mean_calculated_host_listings_count_entire_homes=df3['calculated_host_listings_count_entire_homes'].mean() 
df3['calculated_host_listings_count_entire_homes'].fillna(value=mean_calculated_host_listings_count_entire_homes,inplace=True) 
mean_calculated_host_listings_count_private_rooms=df3['calculated_host_listings_count_private_rooms'].mean() 
df3['calculated_host_listings_count_private_rooms'].fillna(value=mean_calculated_host_listings_count_private_rooms,inplace=True) 
mean_calculated_host_listings_count_shared_rooms=df3['calculated_host_listings_count_shared_rooms'].mean() 
df3['calculated_host_listings_count_shared_rooms'].fillna(value=mean_calculated_host_listings_count_shared_rooms,inplace=True)

In [10]:
#Sustituimos los valores nulos de las columnas de tipo "Object"

df3["source"] =df3["source"].fillna("Desconocido") 
df3["name"] =df3["name"].fillna("Desconocido") 
df3["host_id"] =df3["host_id"].fillna("Desconocido") 
df3["host_response_time"] =df3["host_response_time"].fillna("Desconocido") 
df3["host_response_rate"] =df3["host_response_rate"].fillna("Desconocido") 
df3["host_acceptance_rate"] =df3["host_acceptance_rate"].fillna("Desconocido") 
#df3["host_is_superhost"] =df3["host_is_superhost"].fillna("Desconocido") 
df3["host_identity_verified"] =df3["host_identity_verified"].fillna("Desconocido") 
df3["neighbourhood"] =df3["neighbourhood"].fillna("Desconocido") 
df3["neighbourhood_cleansed"] =df3["neighbourhood_cleansed"].fillna("Desconocido") 
df3["property_type"] =df3["property_type"].fillna("Desconocido") 
df3["room_type"] =df3["room_type"].fillna("Desconocido") 
df3["bathrooms_text"] =df3["bathrooms_text"].fillna("Desconocido") 
df3["Ame2"] =df3["Ame2"].fillna("Desconocido") 
df3["Ame3"] =df3["Ame3"].fillna("Desconocido") 
df3["Ame4"] =df3["Ame4"].fillna("Desconocido") 
df3["Ame5"] =df3["Ame5"].fillna("Desconocido") 
#df3["instant_bookable"] =df3["instant_bookable"].fillna("Desconocido")

In [11]:
#Corroboramos que hemos eliminado los nulos de las columnas seleccionadas
df3.isnull().sum().sum()

22

**Sustitución de Outliers**